.placeholder {
	height: 0.6rem;
}

.bg {
	background-image: url(../img/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 4.2rem;
	box-sizing: border-box;
	padding-top: 2rem;
	text-align: center;
}

.bg .caption {
	font-size: 0.48rem;
	color: #000000;
	font-weight: bold;
}

.bg>p {
	font-size: 0.22rem;
}

.welfare {
	padding: 1rem 2rem 0.5rem;
	background-color: #FFFFFF;
}

.welfare .caption {
	text-align: center;
	font-size: 0.48rem;
	font-weight: bold;

}

.welfare .weal {
	padding-top: 0.5rem;
	display: flex;
	justify-content: space-between;
}

.welfare .weal>li {
	padding-top: 0.3rem;
	width: 2rem;
	text-align: center;
	font-size: 0.12rem;
}

.welfare .weal>li>img {
	width: 0.6rem;
	height: 0.6rem;
	display: block;
	margin: 0 auto;
}

.culture {
	padding: 0.5rem 2rem;
	background-color: #F7F7F7;
	display: flex;
	justify-content: space-between;
}

.culture .item {
	background-color: #FFFFFF;
	background-image: url(../img/acti-1.png);
	background-repeat: no-repeat;
	background-size: 95%;
	background-position: top center;
	width: 23%;
	box-sizing: border-box;
	padding: 2.2rem 0.1rem 0.1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.culture .item .eye {
	width: 0.17rem;
	height: 0.13rem;
}

.invite {
	padding: 1rem 0 0;
	background-color: #f8fcff;
}

.invite>h3 {
	text-align: center;
	font-size: 0.48rem;
	font-weight: bold;
}

.invite .tab {
	font-size: 0.32rem;
	padding: 1rem 2rem 0;
	display: flex;
	border-bottom: 1px solid #e0e4e7;
	justify-content: space-between;
}

.invite .tab .tabli {
	height: 0.7rem;
}

.invite .tab .pitch {
	color: #005FD5;
	border-bottom: 5px solid #005FD5;
}


.invite .content_a {
	padding: 0.8rem 2.5rem;
	display: none;
}

.invite .pitchon {
	display: block;
}

.invite .content_a .container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.invite .content_a .container .nape {
	margin-right: 0.3rem;
	margin-bottom: 0.3rem;
	width: 30%;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	font-size: 0.24rem;
	background-color: #FFFFFF;
	border: 1px solid #AAAAAA;
	background-image: url(../img/righthuise.png);
	background-repeat: no-repeat;
	background-size: 0.3rem;
	background-position: 90% center;
}

.invite .content_a .container .nape:hover {
	border: 1px solid #005FD5;
	background-image: url(../img/right.png);
}
.popups{
	display: none;
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
}
.popups .vessel{
	box-sizing: border-box;
	margin: 1.5rem auto;
	border-radius: 0.05rem;
	width: 50%;
	background-color: #FFFFFF;
	padding: 0.5rem 0.5rem 1rem 1rem;
	text-align: right;
}
.popups .vessel>img{
	width: 0.2rem;
	height: 0.2rem;
}
.popups .vessel>h3{
	font-size: 0.36rem;
	font-weight: bold;
	text-align: center;
	color: #005FD5;
}
.popups .vessel>h6{
	padding-top: 0.2rem;
	font-size: 0.24rem;
	text-align: left;
	color: #005FD5;
	text-decoration:underline;
}
.popups .vessel>ul{
	padding-left: 0.2rem;
	padding-top: 0.3rem;
	font-size: 0.16rem;
	text-align: left;
	list-style:decimal;
}
.popups .vessel .send{
	margin-top: 0.5rem;
	width: 2rem;
	height: 0.5rem;
	background-color: #005FD5;
	text-align: center;
	line-height: 0.5rem;
	font-size: 0.24rem;
	color: #FFFFFF;
	border-radius: 0.05rem;
}

.develop {
	padding-top: 1rem;
	background-color: #F7F7F7;
}

.develop>h3 {
	text-align: center;
	font-size: 0.48rem;
	font-weight: bold;
	color: #005FD5;
}

.develop .box_e {
	padding: 0.5rem 1rem 1rem;
	display: flex;
	justify-content: space-around;
}

.develop .box_e .plan_a {
	width: 4.5rem;
	height: 4.5rem;
	background-image: url(../img/training.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
	color: #005FD5;
	position: relative;
	font-size: 0.18rem;
	font-weight: bold;
}

.develop .box_e .plan_a .plan_up {
	height: 25%;
	display: flex;
	justify-content: space-between;
}

.develop .box_e .plan_a .plan_centre {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.develop .box_e .plan_a .plan_below{
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding-top: 15%;
}


.plan {
	padding: 1rem 3rem;
	background-color: #0852a0;
	color: #FFFFFF;
}
.plan .plan_up,
.plan .plan_below{
	display: flex;
	justify-content: space-between;
}
.plan .plan_centre{
	text-align: center;
}
.plan .plan_centre>p:nth-child(1){
	font-size: 0.48rem;
}
.plan .plan_b {
	width: 40%;
	padding-bottom: 1rem;
}

.plan .plan_b .plan_img {
	padding: 0.5rem;
	font-size: 0.36rem;
	font-weight: bold;
	background-image: url(../img/circle-1.png);
	background-repeat: no-repeat;
	background-size: 20%;
	background-position: 0.2rem;

}

.plan .plan_b>p {
	padding: 0 0.5rem;
	font-size: 0.18rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}

.train .plan_text p {
	font-size: 0.12rem;
	text-align: center;
}

.footer_xy {
	margin-top: 0;
}


/* ===================================================================== */

@media screen and (max-width:750px) {
	.welfare .weal {
		padding-top: 0.5rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.welfare .weal>li {
		width: 20%;
		height: 2rem;
		text-align: center;
		font-size: 0.12rem;
	}

	.culture {
		padding: 0.5rem 2rem;
		background-color: #F7F7F7;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.culture .item {
		margin-bottom: 0.4rem;
		background-color: #FFFFFF;
		background-image: url(../img/acti-1.png);
		background-repeat: no-repeat;
		background-size: 95%;
		background-position: top center;
		width: 50%;
		box-sizing: border-box;
		padding: 4.4rem 0.2rem 0.2rem;
		display: flex;
		justify-content: space-between;
		font-size: 0.28rem;
	}

	.culture .item .eye {
		width: 0.34rem;
		height: 0.26rem;
	}

	.plan {
		padding: 1rem 1rem;

	}

	.train .plan_b {
		padding-bottom: 2rem;
	}

	.plan .plan_b .plan_img {
		background-position: 0.1rem;
	}
	.plan .plan_centre>p:nth-child(1){
		font-size: 1rem;
	}

	.train .plan_text {
		font-size: 0.96rem;
		left: 38%;
		top: 40%;
	}
	/* ===================== */
	.develop .box_e{
		flex-direction: column;
		align-items: center;
	}
	.develop .box_e .plan_a{
		width: 8rem;
		height: 8rem;
		margin-bottom: 1rem;
	}
	.popups .vessel{
		margin: 3rem auto;
		width: 80%;
	}
	.popups .vessel .send {
		width: 4rem;
		height: 1rem;
		line-height: 1rem;
	}
}
