.footer_xy {
	box-sizing: border-box;
	margin-top: 0.8rem;
	padding: 0.6rem 2.4rem;
	width: 100%;
	background-color: #005FD5;
}


.footer_xy .synopsis_xy {
	display: flex;
	justify-content: space-between;
	text-align: left;
}

.footer_xy .synopsis_xy .group_xy {
	display: flex;
	flex-direction: column;
}

.footer_xy .synopsis_xy .group_xy h3 {
	margin-bottom: 0.6rem;
	color: white;
	font-size: 0.2rem;
}

.footer_xy .synopsis_xy .group_xy a {
	color: #ABC6E6;
	font-size: 0.16rem;
	margin-bottom: 0.2rem;
}

.footer_xy .synopsis_xy .group_xy a:hover {
	color: white;
	text-decoration: underline;
}

.footer_xy .synopsis_xy .group_xy>div {
	height: 1.5rem;
	border-top: 0.01rem solid white;
	border-bottom: 0.01rem solid white;
	position: relative;
	margin-bottom: 0.3rem;
	font-size: 0.16rem;
}

.footer_xy .synopsis_xy .group_xy>div>span {
	display: block;
	margin: 0.2rem 0 0.15rem;
	color: white;
	font-size: 0.2rem;
}


.footer_xy .synopsis_xy .group_xy .code::after {
	content: "";
	display: block;
	position: absolute;
	left: -0.6rem;
	top: 1.05rem;
	width: 1.6rem;
	height: 1.6rem;
	background-image: url(../img/qrcode.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.footer_xy .synopsis_xy .group_xy .code::before {
	content: "";
	display: block;
	position: absolute;
	top: 0.75rem;
	width: 0rem;
	height: 0rem;
	border: 0.15rem solid #000;
	border-top-color: transparent;
	border-bottom-color: white;
	border-left-color: transparent;
	border-right-color: transparent;
}

.footer_xy .synopsis_xy .group_xy>p {
	margin-top: 0.2rem;
	color: #ABC6E6;
	font-size: 0.18rem;
}

.footer_xy .synopsis_xy .group_xy .weChat {
	width: 0.35rem;
	height: 0.35rem;
}


.footer_xy .floor_xy {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	border-top: 0.01rem solid white;
	padding-top: 0.2rem;
}

.footer_xy .floor_xy div {
	font-size: 0rem;
}

.footer_xy .floor_xy div a {
	color: #000000;
	height: 0.21rem;
	font-size: 0.21rem;
}

.footer_xy .floor_xy span {
	font-size: 0.18rem;
	color: #ABC6E6;
}

.footer_xy .floor_xy div:nth-child(1) span:hover {
	color: #FFFFFF;
	text-decoration: underline;
}


.icon {
	position: fixed;
	bottom: 10%;
	right: 5%;
	width: 50px;
	height: 50px;
	display: none;
}
.icon_xy{
	display:block ;
}

@media screen and (max-width:750px) {
	.footer_xy {
		padding: 0 0;
	}
	.footer_xy .synopsis_xy{
		justify-content: flex-start;
		flex-wrap: wrap;
		padding-left: 3rem;
	}
	.footer_xy .synopsis_xy .group_xy{
		padding-right: 3rem;
		margin-bottom: 1rem;
	}
	.footer_xy .synopsis_xy .group_xy>div>span {
		margin: 0;
	}
	.footer_xy .synopsis_xy .group_xy h3{
		font-size: 0.5rem;
	}
	
}

