.bg{
	box-sizing: border-box;
	height: 9rem;
	padding-top: 3rem;
	background-image: url(../img/softwbg.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: #FFFFFF;
	text-align: center;
}
.bg .caption{
	font-size: 0.7rem;
	font-weight: bold;
	padding-bottom: 0.2rem;
}
.bg .describe{
	font-size: 0.30rem;
	word-break: break-all;
}
.bg img{
	display: inline-block;
	padding-top: 3rem;
	width: 0.25rem;
	height: 0.44rem;
}
.content{
	box-sizing: border-box;
	padding: 2.5rem 1.5rem 0 2.5rem;
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
	
}
.content .box{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.content .product {
	width: 40%;
}
.content .product .caption{
	font-size: 0.48rem;
	color: #005FD5;
	font-weight: bold;
}
.content .product>p{
	padding-top: 0.3rem;
	font-size: 0.24rem;
	color: #000000;
}
.content .product>p>span{
	color: #005FD5;
}
.content .pic1{
	width: 55%;
	height: 3.8rem;
}
.content .bt{
	width: 2.5rem;
	height: 0.6rem;
	text-align: center;
	line-height: 0.6rem;
	border-radius: 0.05rem;
	background-color: #005FD5;
	color: #FFFFFF;
	font-size: 0.24rem;
	
}

@media screen and (max-width:750px) {
	.content .box{
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.content .product {
		width: 100%;
	}
	.content .product .caption{
		text-align: center;
		font-size: 0.48rem;
		color: #005FD5;
		font-weight: bold;
	}
	.content .pic1{
		width: 100%;
		height: 6rem;
	}
	.content .bt{
		margin-top: 1rem;
		width: 2.5rem;
		height: 0.6rem;
		text-align: center;
		line-height: 0.6rem;
		border-radius: 0.05rem;
		background-color: #005FD5;
		color: #FFFFFF;
		font-size: 0.24rem;
		
	}
}